.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.info {
    display: flex;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.avatar {
    width: 90px;
    height: 90px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.status {
    font-weight: 700;
    color: #5b5041;
}

.name {
    margin-left: 9px;
    color: #958775;
}

.follow {
    margin-top: 9px;
    padding-left: 21px;
    color: antiquewhite;
}

.follow:hover {
    cursor: pointer;
}