.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.info {
    display: flex;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.avatar {
    width: 90px;
    height: 90px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.status {
    font-weight: 700;
    color: #5b5041;
}

.name {
    margin-left: 9px;
    color: #958775;
}

.writeMessageButton {
    font-size: 12px;
    color: #a8b2b2;
    cursor: pointer;
    padding: 9px 0 0 9px;
}

.writeMessageButton:hover {
    opacity: .72;
    text-decoration: underline;
}

.follow {
    display: inline-block;
    width: 90px;
    margin-top: 9px;
    padding: 3px 9px;

    background: transparent;
    border: 1px solid #2c5364;
    border-radius: 3px;

    color: antiquewhite;
    font-size: 12px;
    text-transform: uppercase;
}

.follow:disabled {
    opacity: .5;
}

.pagination {
    width: 300px;
    display: flex;
    color: antiquewhite;
    margin-bottom: 12px;
}

.pages__pagination {
    margin: 0 12px;
}

li {
    line-height: 21px;
    font-size: 15px;
    margin: 0 3px;
}

li:hover {
    cursor: pointer;
}

.current {
    line-height: 21px;
    font-weight: 600;
    font-size: 21px;
}