.user {
    display: flex;
    background-color: rgba(15, 32, 39, 0.93);
    background-attachment: scroll;
}

.user__avatar {
    width: 270px;
}

.user__avatar img {
    width: 100%;
    border-radius: 3px;
}

.user__info {
    width: 100%;
    padding-left: 12px;
}

.status:hover {
    cursor: pointer;
    opacity: .8;
}

.status__input {
    display: inline-block;
    background-color: transparent;
    color: antiquewhite;
    font-size: 21px;
}

.info__field {
    font-size: 21px;
    color: antiquewhite;
    margin-top: 9px;
}

.info__field span {
    font-weight: 600;
    color: #958775;
    display: inline-block;
    width: 54px;
    margin-right: 90px;
}

.link {
    text-decoration: none;
    outline: none;

    margin: 0 6px;

    color: bisque;
}

.link:hover {
    opacity: .72;
}

/* === Input file ===*/

.loadAvatarInput {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.avatarLabel {
    font-size: 14px;
    font-weight: 600;
    color: #a8b2b2;

    opacity: .5;
    transition: all .2s ease;
}

.avatarLabel:hover {
    opacity: 1;
    cursor: pointer;
}