.wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.credential {
  color: #958775;
}

.title {
  font-size: 45px;
  text-align: center;
}

.login__form {
  width: 450px;
  height: 270px;
  padding: 12px;

  background: linear-gradient(to right, #757f9a, #7a7f87);
  border-radius: 3px;
}

.form__input {
  width: 430px;
  height: 30px;
  margin-bottom: 45px;
  padding: 9px 12px;

  border-radius: 3px;

  font-size: 25px;
  line-height: 25px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  color: #958775;

  margin-bottom: 18px;
}

.footer {
  margin-top: 21px;
  display: flex;
  justify-content: center;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input[checkbox] {
  border: 3px solid #b8b7ad;
}

.rememberMe {
  font-weight: 600;
  font-size: 18px;
}

.rememberMe:hover {
  cursor: pointer;
}

.footer button {
  display: inline-block;
  width: 180px;
  height: 30px;

  margin-left: 30px;
  border-radius: 3px;

  font-size: 21px;
  font-weight: 600;
}

.footer button:hover {
  opacity: 0.7;
}

/* === Checkbox === */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
