.wrapper {
    width: 30%;
    max-width: 150px;
    height: 100vh;

    margin-top: 70px;
    padding: 12px 0 0 21px;


    background-color: rgba(0, 0, 0, 0.91);

    color: antiquewhite;

    position: fixed;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.link {
    display: inline-block;
    color: antiquewhite;
    font-size: 21px;
    margin-top: 18px;
}

.link:hover {
    opacity: .7;
}