.container {
    width: 450px;
    display: grid;
    grid-template-columns: 3fr 9fr;

    color: white;
}

.users {
    display: flex;
    flex-direction: column;
    border-right: 1px solid grey;
}

.user {
    margin-right: auto;
    margin-top: 9px;
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: background-color .1s linear;
}

.user img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.user:hover {
    cursor: pointer;
    background-color: #a8b2b2;
    border-radius: 3px;
}

.active {
    background-color: rgba(52, 113, 137, 0.72);
    border-radius: 3px;
}

.messages {
    height: calc(100vh - 300px);
    margin-left: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.senderInfo {
    display: flex;
    justify-content: space-between;
}

.sender {
    font-weight: 700;
    color: #a8b2b2;
    padding-bottom: 9px;
}

.time {
    font-weight: 400;
    font-style: italic;
    margin-left: 9px;
    color: rgba(98, 98, 98, 0.84);
}

.sendMessageTextarea {
    width: 300px;
    height: auto;
    padding: 6px 12px;
    border-radius: 3px;
    resize: none;
}

.sendMessageTextarea:focus {
    outline: none;
}

.sendButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sendButton {
    width: 48px;
    padding: 0;
    margin-top: 9px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
}

.sendButton:hover {
    opacity: .72;
}

.sendButton:disabled {
    opacity: .45;
    cursor: auto;
}